%tr{id: dom_id(sample)}
  %td
    = link_to sample.link, target: '_blank' do
      %i.fas.fa-file-audio.has-text-black
  %td.has-text-left
    = sample.name
  %td.has-text-right
    = link_to stream_sample_path(sample.stream_id, sample), remote: true, method: :delete do
      %i.fas.fa-trash-alt.has-text-danger