.box
  %article.media
    .media-left
      %h3
        = track.viewer.twitch_display_name
      %figure.image.is-64x64
        %img{:alt => "Image", :src => "https://static-cdn.jtvnw.net/user-default-pictures-uv/75305d54-c7cc-40d1-bb9c-91fbe85943c7-profile_image-300x300.png"}/
    .media-content
      .content
        = track.soundcloud_url.html_safe