.box
  %article.media
    .media-left
      %h3
        = track.viewer.twitch_display_name
      %figure.image.is-64x64
        %img{:alt => "Image", :src => track.viewer.profile_image_url}/
    .media-content
      .content
        = track.soundcloud_url.html_safe