%article.track.media{class: track.viewer.subscriber ? 'sub-track' : '', id: dom_id(track)}
  %figure.media-left
    %p.image.is-64x64
      %img{:src => track.viewer.profile_image_url}/
  .media-content
    .content
      %h4
        = link_to twitch_account_link(track.viewer.twitch_login), target: :blank, class: 'has-text-black' do
          %strong.has-text-light
            = track.viewer.twitch_display_name
      = link_to 'url', track.soundcloud_url, class: 'soundcloud-url'