%h1.title.is-1.has-text-light Tracks

.columns
  .column.is-three-fifths
    .subtitle.is-6 
      %h6.has-text-light
        Warning, valume may be too high
        %i.fa.fa-volume-up

.tracks
  = render @tracks
%br/
.tracks-pagination
  = pagy_bulma_nav(@pagy).html_safe