.columns
  .column.is-four-fifths
    %h1.title.is-1 Tracks
  .column.level
    .level-right
      = link_to new_track_path do
        %button.is-primary.acid-green-button.button.level-item
          %strong New track
%h6.subtitle.is-6 
  Warning, valume may be too high
  %i.fa.fa-volume-up
= render @tracks