.stream-card{id: dom_id(stream)}
  = link_to stream do
    = image_tag("default_stream_image.jpg", class: 'stream-image')
    .stream-date
      = stream.aired_at.strftime('%d/%m - %H:%M')
    .stream-title
      = stream.title
