.stream-card{id: dom_id(stream)}
  = link_to stream do
    = image_tag("default_stream_image.jpg", class: 'stream-image')
    .p-4.title
      = stream.title
    .p-4
      = stream.aired_at.strftime('%d/%m/%y-%H:%M')
