.column.is-6-desktop.is-offset-3-desktop
  = render 'shared/top_m_beats'
  .stream-cards
    = render @streams.reorder(aired_at: :desc)
    - if @streams.size % 3 != 0
      - (3 - @streams.size % 3).times do
        .stream-card.empty-card
  = pagy_bulma_nav(@pagy).html_safe
 