= render @stream
%br
.columns
  .column.is-four-fifths
    - unless current_admin
      = link_to new_stream_track_path(@stream), class: 'button' do
        %strong
          Submit track &nbsp;
        %i.fab.fa-soundcloud.fa-2x.soundcloud-orange
    .content.is-small
      %p
        Warning, valume may be too high
        %i.fa.fa-volume-up
  .column.has-text-right
    .search-form
      %label.checkbox
        %input{ type: :checkbox, class: 'sort-by-sub', data: { 'tracks-path' => stream_tracks_path(@stream) } }
          Sort by subscribers
      %i.fab.fa-twitch.has-text-link

.tracks
  = render @tracks
%br/
.tracks-pagination
  = pagy_bulma_nav(@pagy).html_safe